fastapi==0.115.14
imageio==2.35.1
ipython==8.12.3
lpips==0.1.4
matplotlib==3.10.3
numpy==2.3.1
opencv_python==4.10.0.84
pandas==2.3.0
Pillow==11.2.1
pydantic==2.11.7
pytest==8.3.3
PyYAML==6.0.2
tqdm==4.67.1
Requests==2.32.4
wandb
fastapi[standard]