{% extends "base.html" %}
{% from "config_display.html" import render_config %}

{% block title %}{{ title }} Dataset{% endblock %}
{% block header %}{{ title }} Dataset{% endblock %}

{% block content %}
{{ render_config(data, model_name, model_overview) }}
{% endblock %}

{% block config_panel %}
{% endblock %}

{% block scripts %}
<script type="module">
  import { setupEraser, setupSeedDot } from "/static/js/painting.js";

  const canvas = document.getElementById("canvas");
  const ctx = canvas.getContext("2d");
  setupEraser(ctx, 10);
  setupSeedDot(ctx);
</script>
<script>
  document.getElementById("invertButton").addEventListener("click", async () => {
    try {
      const response = await fetch("/invert_condition", { method: "POST" });
      const result = await response.json();
      console.log(result);
    } catch (error) {
      console.error(error);
    }
  });
</script>
{% endblock %}